* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
    width: 100%;
}

.nav-item .nav-link {
    font-size: 20px;
    margin-left: 60px;
    font-weight: 500;
}

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/Home-img.jpg");
    background-size: cover;
    margin-bottom: 20px;
}

#para-1 {
    font-weight: 600;
    font-size: 22px;
}

#homeTitle {
    /* text-decoration: underline; */
    margin-bottom: 10px;
}

#homeMain {
    margin-bottom: 80px;
}

#homeDescription {
    font-size: 16px;
}

#stickyFooter {
    flex-shrink: none;
}

#stickyFooter h4 {
    text-transform: capitalize;
}

#followIcons li {
    list-style: none;
    margin-bottom: 15px;
}

#followIcons .fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

#footerText {
    margin-bottom: 8px;
}

.fa-facebook {
    color: rgb(72, 103, 170);
}

.fa-twitter {
    color: rgb(51, 170, 231);
}

.fa-linkedin {
    color: rgb(0, 119, 181);
}

#serviceDetails {
    margin-bottom: 20px;
}

#libraryLogin {
    background: rgb(17, 53, 55);
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

#loginImage {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#availableBooks:hover {
    box-shadow: 5px 15px 10px grey;
}

#issuedBooks:hover {
    box-shadow: 5px 15px 10px grey;
}

#returnBooks:hover {
    box-shadow: 5px 15px 10px grey;
}