* {
    scroll-behavior: smooth;
}

html body {
    height: 100%;
}

.nav-item .nav-link {
    font-size: 20px;
    margin-left: 60px;
    font-weight: 500;
    color: rgb(250, 248, 240)!important;
}

.jumbotron {
    background-image: url("../img/Home-img.jpg");
    background-size: cover;
}

#para-1 {
    font-weight: 600;
    font-size: 22px;
}

#homeDescription{
    font-size: 16px;
}