$primary-font:'IBM Plex Sans', sans-serif;
$secondary-font:'Roboto Slab', serif;
$heading-font:'Staatliches', cursive;
$nav-font:'Zilla Slab', serif;
$para-font:'Montserrat', sans-serif;
$table-font:'Roboto Mono', monospace;

$shadow: 12px 12px 22px grey;
