<library-navbar></library-navbar>
<br>
<br>
<br>
<a href="#/library" class="backButton mx-3">
    <i class="fa fa-arrow-circle-o-left fa-2x" aria-hidden="true"></i>
</a>
<div class="container">
    <h1 class="display-3 text-center" id="bookHeading">Books</h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <input type="checkbox" ng-model="javaChecked">
            <label>Java</label>
            <br>
            <input type="checkbox" ng-model="internetChecked">
            <label>Internet</label>
            <br>
            <input type="checkbox" ng-model="businessChecked">
            <label>Business</label>
            <br>
            <input type="checkbox" ng-model="webChecked">
            <label>Web Development</label>
            <br>
            <input type="checkbox" ng-model="softwareChecked">
            <label>Software</label>
            <br>
            <input type="checkbox" ng-model="microsoftChecked">
            <label>Microsoft</label>
            <br>
            <input type="checkbox" ng-model="otherChecked">
            <label>Others</label>
        </div>
        <div class="col-md-10">
            <book-section></book-section>
        </div>
    </div>
</div>