<library-navbar></library-navbar>
<br>
<br>
<section class="Form my-3 mx-5">
    <a href="#/login" class="backButton"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> back</a>
    <div class="container">
        <div class="row no-gutters" id="libraryLogin">
            <div class="col-lg-5">
                <img src="../img/login-img1.jpg" class="img-fluid" alt="Library Image" id="loginImage">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 px-5 pt-5">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="registerAlert">
                    User Already Exists
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="load()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h3 class="text-white">Please Register Here</h3>
                <library-register></library-register>
            </div>
        </div>
    </div>
</section>